{

front-family: Arial, Helvetica, sans-serif;
font-sizer: 16px;
}
body{
    background-color: rgb(10, 10, 164);
}
main{
    background-color: antiquewhite;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);
}
